$EM-BASE: 18px;

// $FOLDERS
$IMAGES_DIR: '../images/';

// $MEDIA-QUERIES
$XS_MAX_WIDTH: 450px;
$SM_MIN_WIDTH: 738px;
$MD_MIN_WIDTH: 994px;
$LG_MIN_WIDTH: 1250px;
$MD_MIN_HEIGHT: 600px;

// $COLORS
$GREEN: #48B868;
$WHITE: #FFFFFF;

$PEACH_YELLOW: #F9D39E;
$LIGHT_SKY_BLUE: #9EEAF9;
$BLACK: #020911;

// $FONTS
$FONT: "Helvetica Neue", Helvetica, Arial, sans-serif;

// /* frame: */
// background-image: linear-gradient(-1deg, #FFFFFF 0%, #DEEDAF 99%);
// box-shadow: -6px 6px 0 0 rgba(0,0,0,0.50);