extends _layout/master/_master

block body
    
    span.gradient(class='h-abs-center')

    header.header(class='h-abs-center')
        h1.header__title LONG LIVE THE ADVENTURE <sup>TM</sup>
    
    main
        .clouds(class='h-abs-center')
            .cloud-a(class='h-abs-left-top')
                span.cloud
                span.cloud
                span.cloud
                span.cloud
            .cloud-b.cloud(class='h-abs-right-top')
            .cloud-c(class='h-abs-right-bottom')
                span.cloud
                span.cloud
                span.cloud
                span.cloud
            .cloud-d.cloud(class='h-abs-right-bottom')
            .cloud-e.cloud(class='h-abs-left-bottom')

        .frame(class='h-abs-center')

